* {
    margin: 0;
    padding: 0;
    font-family: 'PingFang SC', 'Microsoft Yahei', sans-serif;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.nav-left {
    padding-left: 30px;
    flex: 1;
    display: flex;
}

.nav-left ul {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    padding-left: 30px;
    color: #003c56;
    font-weight: bold;
}

.nav-right {
    margin-right: 50px;
}

.nav-right ul {
    float: right;
    display: flex;
    align-items: center;
}

.nav-right ul li {
    margin-left: 30px;
}

.nav-right ul li a {
    font-weight: bold;
    color: #003c56;
}


.nav-right .start-use {
    display: inline;
    width: 115px;
    height: 36px;
    border: 2px solid #003c56;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

/* main */
main {
    padding-top: 5vh;
}
.page {
    height: 100%;
    text-align: center;
}

.welcome{
    text-align: center;
}
.welcome p {
    color: #117ac9;
    font-size: 72px;
    font-family: Recoleta,Georgia,"Times New Roman",Times,serif;
}

.description {
    padding-top: 15px;
    
}

.description p {
    margin: auto;
    width: 740px;
    font-size: 20px;
    color: #043959;
    text-align: center;
}

.start {
    margin-top: 38px;
    text-align: center;
}

.start button {
    width: 200px;
    height: 50px;
    background-color: #117ac9;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.equipment {
    margin: auto;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipment > div {
    margin: 0 50px;
}

.more-info {
    margin-top: 130px;
}

.more-info p {
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-family: Recoleta,Georgia,"Times New Roman",Times,serif;
    color: #043959;
}

.more-info .web-link {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-info .web-link span {
    font-size: 24px;
    font-family: Recoleta,Georgia,"Times New Roman",Times,serif;
    color: #043959;
}